form {
  border-radius: 5px;
  -webkit-box-shadow: 5px;
  -moz-box-shadow: 5px;
  box-shadow: 5px;
  opacity: 1;
  padding: 10px;
}
form input {
  border: 1px solid #fff;
  padding: 5px;
}
form button {
  padding: 5px 0 5px;
}
#id .className {
  opacity: 1;
}
img {
  opacity: 1;
}
img:hover {
  opacity: 0.1;
}